.self {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skins {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.headline {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.5rem;
  font-size: 3rem;
  font-weight: 900;
  color: var(--text-black);
  line-height: 1em;
  margin: 1rem 0;
}

.title {
}

.countdown {
  text-align: right;
  font-size: 1.75rem;
  color: rgb(183 183 183);
  line-height: 1em;
}

.countdown .label {
  font-size: .875rem;
  margin-right: 0.25rem;
}