.self {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skins {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.headline {
  font-family: 'Black Han Sans';
  font-size: 3rem;
  font-weight: normal;
  color: var(--text-black);
}