.self {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  background-color: var(--grey50);
  box-shadow: var(--global-box-shadow)
}

.callout-title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--grey900);
}

.callout-body {
  font-size: .875rem;
  color: var(--grey600);
}