.wrap {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.self {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: 1.125rem;
  font-weight: 700;
  width: 100%;
  padding: 1rem 2rem;
  color: var(--grey900);
  background-color: var(--grey200);
}
