.self {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  margin: 1rem auto;
  width: 100%;
  max-width: var(--global-max-width);
  padding: var(--global-padding);
}

.items {
  display: flex;
  justify-content: center;
  gap: .75rem;
}

.item {
  display: flex;
  line-height: 1em;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--grey600);
}
.item::before {
  content: '·';
  margin-right: .25rem;
}

.legal-notice {
  font-size: .75rem;
  color: var(--grey500)
}
