.self {
  
}

.headline {
  font-family: 'Black Han Sans';
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  margin-left: -0.125rem;
  color: var(--text-black);
}

.description {
  margin: 0.5em 0;
  color: rgb(56 62 58);
}