.self {
  width: 100%;
  max-width: var(--global-max-width);
  height: 100%;
}

.wrap {
  width: calc(100%);
  padding: 3rem 2rem;
  background-color: var(--grey50);
  box-shadow: 0 0 10rem var(--grey300);
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  margin: 0 0 0 0;
}

.close-button {
  padding: 0;
  border: 0;
  background: none;
}

@media (prefers-color-scheme: dark) {
  .close-button img {
    filter: invert();
  }
}

.pages {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  padding: 0;
}

.pages li,
.refs li {
  list-style-type: none;
  display: flex;
}

.pages .page {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.pages .page .icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  .pages .page .icon {
    filter: invert();
  }
}

.pages .page:hover,
.refs .ref:hover {
  cursor: pointer;
}

.refs {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  padding: 0;
  margin-top: 2rem;
}

.refs .ref {
  font-size: .925rem;
  color: var(--grey400);
  font-weight: 500;
}

