.self {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.self[data-layer-show] {
  opacity: 1;
}

.self[data-layer-hide] {
  opacity: 0;
  pointer-events: none;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.layer > * {
  position: relative;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: var(--grey50);
  opacity: 0.5;
}

.test1 {
  width: 500px;
  height: 500px;
  background-color: red;
}

.test2 {
  width: 400px;
  height: 400px;
  background-color: blue;
}

.spinner {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.spinner {
  margin: 5rem auto;
  border-top: 0.75rem solid var(--greyOpacity50);
  border-right: 0.75rem solid var(--greyOpacity50);
  border-bottom: 0.75rem solid var(--greyOpacity50);
  border-left: 0.75rem solid var(--grey500);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}