.self {
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  
  padding-left: 1.515rem;

  padding: 1.125rem 1.75rem;
  font-size: 1.125rem;
  color: var(--grey900);
  background-color: var(--grey200);
}

.self .placeholder {
  color: var(--grey500);
}

.self[data-not-selected] {
  color: var(--grey500);
}

.self[data-not-selected]:focus-visible {
  color: var(--grey500);
}

.self[data-not-selected]:focus-visible option {
  color: var(--grey900);
}

.self[data-not-selected]:focus-visible option.placeholder {
  color: var(--grey500);
}
