.self,
.select-tag {
  appearance: none;
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;

  font-family: inherit;
  font-size: 1.125rem;
}

.self {
  position: relative;
  color: var(--grey900);
  background-color: var(--grey200);

  color: initial;
}

.select-tag {
  width: 100%;
  line-height: 1.75em;
  padding: var(--input-padding);
}

.overlay {
  position: absolute;
  top: 0;
  pointer-events: none;

  display: flex;

  width: 100%;
  height: 100%;
  padding: var(--input-padding);
  padding-top: 0;
  padding-bottom: 0;
}

.label,
.placeholder .arrow {
  color: var(--grey600);
}

.label {
  position: absolute;
  top: 0.75rem;
  font-size: 0.75rem;
}

.placeholder,
.arrow {
  display: flex;
  align-items: center;
}

.placeholder {
  width: 100%;
}

.arrow {
  justify-content: flex-end;
  height: 100%;
  text-align: right;
}

/* 기본상태 */
.select-tag {
  color: rgba(0, 0, 0, 0);
}
.label {
  opacity: 0;
}
.placeholder {
  opacity: 1;
  color: var(--grey400);
}

/* 포커스 되었을 때 */
.select-tag:focus ~ .overlay .label {
  opacity: 1;
}

/* 값 없음, 포커스 되었을 때 */
.select-tag[data-not-selected]:focus {
  color: var(--grey900);
}
.select-tag[data-not-selected]:focus option {
  background-color: var(--grey100);
}
.select-tag[data-not-selected]:focus option[disabled] {
  color: var(--grey400);
}
.select-tag[data-not-selected]:focus ~ .overlay .placeholder {
  opacity: 0;
}

/* 값이 선택되었을때 */
.select-tag[data-selected] {
  color: var(--grey900);
}
.select-tag[data-selected] option {
  background-color: var(--grey100);
}
.select-tag[data-selected] ~ .overlay .placeholder {
  opacity: 0;
}
.select-tag[data-selected] ~ .overlay .label {
  opacity: 1;
}
