.self {
  /* display: flex; */
}

.buttons {
  display: flex;
  margin-top: .5rem;
}

.prev-button, .next-button, .index {
  appearance: none;
  border: 0;
  background: 0;
  margin: 0;
  padding: 0;

  padding: 1rem;
  font-family: inherit;
  font-weight: 600;
  color: var(--grey900);
}

.prev-button, .next-button {
  display: flex;
  align-items: center;
  color: var(--grey900);
  background-color: var(--grey50);
  border: .15rem solid var(--greyOpacity100);
  border-radius: 1rem;
}

.prev-button img, 
.next-button img {
  width: 1rem;
}

@media (prefers-color-scheme: dark) {
  .prev-button, .next-button {
    background-color: var(--grey200);
    border: .125rem solid rgba(128, 128, 128, 0);
  }

  .prev-button img, 
  .next-button img {
    filter: invert();
  }
}

.index {
  /* padding: 1rem 2rem; */
}

.index .divider {
  font-size: 0.5rem;
  margin: 0 .25rem;
}