.self {
}

.pages {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
}

.self[data-hint="true"] .pages {
  gap: 0.5rem;
}

.pages::-webkit-scrollbar {
  display: none;
}

.page {
  min-width: 100%;
  scroll-snap-align: start;
}

.self[data-hint="true"] .page {
  min-width: calc(100% - 3rem);
}

.scroll-bar {
  position: relative;
}

.scroll-bar-track,
.scroll-bar-thumb {
  display: flex;
  align-items: center;
  height: 1rem;
}

.scroll-bar-track {
  width: 100%;
}

.scroll-bar-track-line {
  width: 100%;
  height: 0.125rem;
  /* background-color: var(--greyOpacity200); */
}

.scroll-bar-thumb {
  position: absolute;
  top: 0;
  min-width: 2rem;
}

.scroll-bar-thumb:hover {
  cursor: grab;
}

.scroll-bar-thumb-handle {
  width: 100%;
  height: 0.35rem;
  background-color: var(--grey500);
}
