.self {
  width: calc(100% / 2 - 0.25rem);
  max-width: calc(100% / 2);
  overflow: hidden;
  background-color: var(--grey50);
}

.ratio {
  position: relative;
  width: 100%;
  padding-top: 120%;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  max-height: calc(100% - 4.5rem);
  overflow-wrap: break-word;
  overflow-y: scroll;
  padding: var(--global-padding);
}

.stack-title {
  font-weight: 500;
}

.error-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .75rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  font-weight: 500;
  line-height: 1.25em;
  color: var(--white);
  background-color: var(--blackOpacity700);
}

.error-name {
  font-size: 0.875rem;
}