:root {
  --grey50: rgb(255, 255, 255);
  --grey100: rgb(250, 250, 250);
  --grey200: rgb(245, 245, 245);
  --grey300: rgb(212, 212, 212);
  --grey400: rgb(163, 163, 163);
  --grey500: rgb(115, 115, 115);
  --grey600: rgb(82, 82, 82);
  --grey700: rgb(49, 49, 49);
  --grey800: rgb(31, 31, 31);
  --grey900: rgb(23, 23, 23);

  --greyOpacity50: rgba(23, 23, 23, 0.02);
  --greyOpacity100: rgba(23, 23, 23, 0.05);
  --greyOpacity200: rgba(23, 23, 23, 0.1);
  --greyOpacity300: rgba(23, 23, 23, 0.18);
  --greyOpacity400: rgba(23, 23, 23, 0.31);
  --greyOpacity500: rgba(23, 23, 23, 0.46);
  --greyOpacity600: rgba(23, 23, 23, 0.58);
  --greyOpacity700: rgba(23, 23, 23, 0.7);
  --greyOpacity800: rgba(23, 23, 23, 0.8);
  --greyOpacity900: rgba(23, 23, 23, 0.91);

  --white: rgba(255, 255, 255, 1);

  --black: #000;

  --whiteOpacity50: rgba(255, 255, 255, 0.05);
  --whiteOpacity100: rgba(255, 255, 255, 0.11);
  --whiteOpacity200: rgba(255, 255, 255, 0.19);
  --whiteOpacity300: rgba(255, 255, 255, 0.27);
  --whiteOpacity400: rgba(255, 255, 255, 0.36);
  --whiteOpacity500: rgba(255, 255, 255, 0.47);
  --whiteOpacity600: rgba(255, 255, 255, 0.6);
  --whiteOpacity700: rgba(255, 255, 255, 0.75);
  --whiteOpacity800: rgba(255, 255, 255, 0.89);
  --whiteOpacity900: rgba(255, 255, 255, 1);

  --blackOpacity50: rgba(23, 23, 23, 0.02);
  --blackOpacity100: rgba(23, 23, 23, 0.05);
  --blackOpacity200: rgba(23, 23, 23, 0.1);
  --blackOpacity300: rgba(23, 23, 23, 0.18);
  --blackOpacity400: rgba(23, 23, 23, 0.31);
  --blackOpacity500: rgba(23, 23, 23, 0.46);
  --blackOpacity600: rgba(23, 23, 23, 0.58);
  --blackOpacity700: rgba(23, 23, 23, 0.7);
  --blackOpacity800: rgba(23, 23, 23, 0.8);
  --blackOpacity900: rgba(23, 23, 23, 0.91);

  --primary-color: rgb(249, 70, 85);
  --anchor-color: rgb(55, 146, 231);
  --secondary-color: rgb(122, 194, 186);

  --exclusive-tier-color: rgba(241, 184, 45, 0.75);
  --deluxe-tier-color: rgba(0, 149, 135, 0.75);
  --premium-tier-color: rgba(209, 84, 141, 0.75);
  --select-tier-color: rgba(90, 159, 226, 0.75);
  --ultra-tier-color: rgba(195, 163, 19, 0.75);
}

@media (prefers-color-scheme: dark) {
  :root {
    --grey50: rgb(23, 23, 23);
    --grey100: rgb(31, 31, 31);
    --grey200: rgb(49, 49, 49);
    --grey300: rgb(82, 82, 82);
    --grey400: rgb(115, 115, 115);
    --grey500: rgb(163, 163, 163);
    --grey600: rgb(212, 212, 212);
    --grey700: rgb(245, 245, 245);
    --grey800: rgb(250, 250, 250);
    --grey900: rgb(255, 255, 255);

    --greyOpacity50: rgba(255, 255, 255, 0.05);
    --greyOpacity100: rgba(255, 255, 255, 0.11);
    --greyOpacity200: rgba(255, 255, 255, 0.19);
    --greyOpacity300: rgba(255, 255, 255, 0.27);
    --greyOpacity400: rgba(255, 255, 255, 0.36);
    --greyOpacity500: rgba(255, 255, 255, 0.47);
    --greyOpacity600: rgba(255, 255, 255, 0.6);
    --greyOpacity700: rgba(255, 255, 255, 0.75);
    --greyOpacity800: rgba(255, 255, 255, 0.89);
    --greyOpacity900: rgba(255, 255, 255, 1);
  }
}

:root {
  --global-padding: 1.25rem;
  --input-padding: 1.75rem 1.75rem 1rem 1.75rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  color: var(--grey900);
  background-color: var(--grey100);
  overflow: overlay;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
